img#logo {image-orientation: :center;}

  Body {
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGpb63vN8wmWHwcqC7KipgXaXO7C0vqAOvtNVDKQmSZRcxtihZfw");
  background-repeat: repeat;
   color: rgb(0, 128, 0);
 font-family:times;
 margin: 0px;}

h1{
  text-align:center;
  font-size: 5em;}

p{
  text-align: center;
  font-size: 2em;}

img{
  image-orientation:center;}

div#carouselExampleCaptions {display:flex;
  padding:70px;
  margin:auto;
  border-radius:auto;}

  .topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
